@model TestCoreApp.ViewModels.EmpDetailsViewModel
@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpDeatil</title>
</head>
<body>


    @*<h3>@Model.PageTitle</h3>

        @{

            var employee = ViewBag.Employee;
        }
        <div>
            Name=@Model.Employee.Name;
        </div>
        <div>
            Email=@Model.Employee.Email;
        </div>
        <div>
            Department=@Model.Employee.Department;
        </div>*@

    <div class="row justify-content-center col-sm-6">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Model.Employee.Name</h1>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="~/images/img.png" />

                    <h4>Employee ID : @Model.Employee.Id</h4>
                    <h4>Email : @Model.Employee.Email</h4>
                    <h4>Department : @Model.Employee.Department</h4>

                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary">Back</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
